@page
@model OutcomeManagementSystem.Pages.SO_KPIs.DetailsModel

@{
    ViewData["Title"] = "SO KPI Details";
}

<h1>Details</h1>

<div>
    <h5>Information regarding this KPI and the associated ABET Student Outcome</h5>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SO_KPI.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SO_KPI.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SO_KPI.KPINumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SO_KPI.KPINumber)
        </dd>
        <dt class="col-sm-2">
            Associated @Html.DisplayNameFor(model => model.SO_KPI.StudentOutcome)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.SO_KPI.StudentOutcome.SONumber)</th>
                    <th>@Html.DisplayNameFor(model => model.SO_KPI.StudentOutcome.Description)</th>
                </tr>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.SO_KPI.StudentOutcome.SONumber)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.SO_KPI.StudentOutcome.Description)
                        </td>
                    </tr>
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.SO_KPI.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
