@page
@model OutcomeManagementSystem.Pages.SO_KPIs.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SO_KPI</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SO_KPI.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SO_KPI.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SO_KPI.StudentOutcomeID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SO_KPI.StudentOutcomeID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SO_KPI.StudentOutcome)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>ABET SO #</th>
                    <th>Description</th>
                </tr>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.SO_KPI.StudentOutcome.ID)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.SO_KPI.StudentOutcome.Description)
                        </td>
                    </tr>
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.SO_KPI.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
